<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.91.0" targetFramework="net452" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net452" />
  <package id="EPPlus" version="4.5.0.3-rc" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.3.0" targetFramework="net452" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.1" targetFramework="net452" />
  <package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="Westwind.RazorHosting" version="3.2.0.0" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.Toolkit.Full" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Windows10" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.Themes.Metro" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.Themes.Office2007" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.Themes.Windows10" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid_Toolkit" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.LiveExplorer" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.Metro" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.Office2007" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.Windows10" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.WMP11" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes.Metro" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes.Office2007" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes.Windows10" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit.Themes.Metro" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit.Themes.Office2007" version="3.6.17613.09190" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit.Themes.Windows10" version="3.6.17613.09190" targetFramework="net452" />
</packages>